/* Typografi */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Roboto:wght@100;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cormorant Garamond", serif;
  line-height: 100%;
}

/* No mo typo */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
  background: hsl(231, 77%, 68%);
}

.App h1 {
  margin-top: 0;
  padding: 3rem;
  font-size: 3rem;
  color: #eee;
  text-align: center;
}
